@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

@layer base {
  * {
    font-family: "Poppins", sans-serif;
  }
}

.input {
  @apply w-full px-4 py-2 border rounded-md text-sm focus:outline-none focus:ring-1 focus:ring-orange-500;
}


